{% extends "base.html" %}

{% block content %}
  <div class="container" style="margin-top: 20px">
    <h1>
      Username: {{ cook.username }}
      <a href="{% url 'restaurant:cookers-delete' pk=cook.id %}" class="btn btn-danger link-to-page">
        Delete
      </a>
      <a href="{% url 'restaurant:cookers-update' pk=cook.id %}" class="btn btn-primary link-to-page">
        Update cook
      </a>
    </h1>

    <p><strong>First name:</strong> {{ cook.first_name }}</p>
    <p><strong>Last name:</strong> {{ cook.last_name }}</p>
    <p><strong>Years of experience:</strong> {{ cook.years_of_experience }}</p>
    <p><strong>Is staff:</strong> {{ cook.is_staff }}</p>

    <div class="ml-3" style="margin-top: 20px;">
      <h3>Dishes</h3>

      {% for dish in cook.dishes.all %}
        <hr>
        <p><strong>Dish:</strong> {{ dish.name }}</p>
        <p><strong>Description:</strong> {{ dish.description }}</p>
        <p class="text-muted"><strong>Price:</strong> {{ dish.price }}</p>
        <p class="text-muted"><strong>Dish type:</strong> {{ dish.dish_type.name }}</p>

      {% empty %}
        <p>No dishes!</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
